.massege__wrapp {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
}
.massege__button {
	margin-top: 20px;
	background: #3F92D2;
	color: #fff;
	width: 100%;
	max-width: 200px;
	height: 40px;
	border-radius: 10px

}